<DOCTYPE !HTML>
    <html>

    <head>
        <meta charset="UTF-8">
        <title>The Onion Scrapper: Your #1 Trusted Source for Fake News</title>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../../public/assets/style.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script> {{!--
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script> --}}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> {{!--
        <script src="./../../public/assets/ajax_jquery.js"></script> --}}
    </head>

    <body>
        <nav class="navbar navbar-inverse" role="navigation">
            <a class="navbar-brand" href="/">The Onion Scrapper</a>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/saved">Saved Articles</a>
                </li>
                <li>
                    <button type="button" class="btn btn-warning scrape-new">Scrap Articles!</button>
                </li>
            </ul>
        </nav>
        <!-- Modal -->
        <div class="modal fade" id="scrapeModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <img id="onion-favicon" height="20px" width="20px" src="https://d30y9cdsu7xlg0.cloudfront.net/png/26154-200.png" / alt="The Onion">
                        <h4 class="modal-title" float="right">Scrape the Onion</h4>
                    </div>
                    <div class="modal-body">
                        <p>Articles scraped!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" id="closeModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {{{body}}}
    </body>
    <script>
        //Script to do front-end AJAX calls to mongoDB
        //Execute functionalities only when the document is fully loaded
        $(document).ready(function () {
            //Do ajax call and wait for click event
            ajaxCall();

            //function to perform AJAX call
            function ajaxCall() {
                $(".save").on("click", saveArticles);
                $(".unsave").on("click", unsaveArticles);
                $(".scrape-new").on("click", scrapeArticles);

            }

            //Function to initialize page; essentially refreshing page with an ajax get
            // }

            //function to perform when save button is clicked
            function saveArticles() {
                $(this).attr("class", "btn btn-info");
                $(this).html("Saved!");
                $(this).parents(".panel").delay(100).slideUp("slow");
                let ArticleId = $(this).parents(".panel").data("_id");
                console.log(ArticleId);
                $.ajax({
                    type: "POST",
                    url: `/toSave/${ArticleId}`,
                }).then((data, textStatus, error) => {
                    if (error) { console.log(error) }
                    else {
                        //Hide panel when save is a success
                        //but jquery method doesn't work inside promise statement?
                        //$(this).parents(".panel").delay(100).slideUp("slow"); 
                    };
                });
            }

            function unsaveArticles() {
                $(this).html("Deleted!");
                $(this).parents(".panel").delay(100).slideUp("slow");
                let ArticleId = $(this).parents(".panel").data("_id");
                console.log(ArticleId);
                $.ajax({
                    type: "POST",
                    url: `/unSave/${ArticleId}`,
                }).then((data, textStatus, error) => {
                    if (error) { console.log(error) }
                    else {
                        //Hide panel when unsave is a success
                        //but jquery method doesn't work inside promise statement?
                        //$(this).parents(".panel").delay(100).slideUp("slow");
                    };
                });
            }

            function scrapeArticles() {
                $.ajax({
                    type: "GET",
                    url: `/scraped`,
                }).then((data, textStatus, error) => {
                    if (error) console.log(error);
                    $("#scrapeModal").modal();
                    $("#closeModal").on("click", function(){
                       this.done(window.location.href = "/");
                    });
                });
            }
        });
    </script>

    </html>
</DOCTYPE>