<nav class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="/">The Onion Scrapper</a>
    <ul class="nav navbar-nav">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Saved Articles</a>
        </li>
        <li>
            <a href="#">Scrap Articles!</a>
        </li>
    </ul>
</nav>
{{!-- div for all articles; articles take all 12 columns --}}
<div class="container">
    {{#each scraper}}{{/each}}
</div>